<app-explore-container name="Tab 2 page"></app-explore-container>

<ion-content [fullscreen]="true">
    <ion-slides>
        <ion-slide>
          <div class="slide">
            <img src="https://gmo.com.ec/pub/media/wysiwyg/GMO_DATOS_Ecuador.jpg"/>
            <h2>GMO APP</h2>
          </div>
        </ion-slide>

        <ion-slide>
          <img src="https://gmo.com.ec/pub/media/wysiwyg/GMO-EC_Progresivos_1105.jpg"/>
          <h2>Un Nuevo Yo</h2>
          <p><b>Ionic Framework</b> is an open source SDK that enables developers to build high quality mobile apps with web technologies like HTML, CSS, and JavaScript.</p>
        </ion-slide>

        <ion-slide>
          <img src="https://gmo.com.ec/pub/media/wysiwyg/GMO-EC_1921x737_0605.jpg"/>
          <h2>Agenda tu cita</h2>
          <p><b>Appflow</b> is a powerful set of services and features built on top of Ionic Framework that brings a totally new level of app development agility to mobile dev teams.</p>
        </ion-slide>
     

      <ion-slide>
        <img src="https://gmo.com.ec/pub/media/wysiwyg/banner-Secundario-MK_CO-EC.jpg"/>
        <h2>Michael Kors</h2>
        <p><b>Appflow</b> is a powerful set of services and features built on top of Ionic Framework that brings a totally new level of app development agility to mobile dev teams.</p>
      </ion-slide>
    </ion-slides>

      
 
</ion-content>
